header {
    background: #fff;
    width: 100%;
    height: 170px;
    position: fixed;
    top: 0;
    left: 0;
    border-top: 6px solid #23d3c6;
    z-index: 100;
}

body {
    font-size: 1em;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
    background: #fff;
    color: #34495e;
    margin: 0;
}

#logo {
    margin: 20px 0 0 140px;
    float: left;
    width: 165px;
    height: 127px;
    background: url(img/logo.jpg) no-repeat center;
    display: block;
}

/*...NAVIGATION......................................................................................................*/

.page-top ul {
    margin: 30px 140px 0 0;
    float: right;
    display: inline-block;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
}

.nav-tags {
    display: inline-block;
    float: left;
}

nav li a {
    padding-left: 35px;
    text-decoration: none;
    font-weight: bold;
    color: #34495e;
}

nav li a:hover {
    color: #201fdc;
}



/*...TOP ICONS.......................................................................................................*/

.icon-div {
    display: block;
    height: 3.5em;
    float: left;
    white-space: nowrap;
    overflow: hidden;
}

.i-img {
    list-style: none;
    display: inline-block;
    height: 56px;
    width: 56px;
    margin: 0 20px 0 40px;
}

.i-text {
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    float: right;
    clear: left;
}

/*...FOOTER..........................................................................................................*/

footer{
    height: 310px;
    font-size: 1em;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
    color: #fff;
    background-color: #34495e;
}

.footer {
    margin: 0 132px 0 132px;
}

.find-us span ,
.contact-us span ,
.social-media span,
.website-details span {
    color: #fff;
    padding-top: 50px;
    display: block;
    font-size: 1em;
    letter-spacing: .2em;
}

.find-us p,
.contact-us p,
.social-media p,
.website-details p {
    padding-top: 35px;
    text-decoration: none;
    letter-spacing: .2em;
    list-style: none;
    line-height: 2.5;
    font-size: 0.8em;
    color: #fff;
}